@charset "UTF-8";
/*카테고리*/
.category-box {
	width:100%;
	display:flex;
	justify-content: center;
	background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}
.category {
	border-radius: 10px;
	border: 1px solid #ff8c75;
	width: 15%;
	height: 40px;
    margin:10PX 10px 10PX 0;
	background: #ff949d;
	font-size: 23px;
	font-weight: bold;
}
.category-box button:hover {
	background: #fa7a9b;
}
.active {
	background: #ffe4d9;
}
/*메뉴*/
#contain {
	position: relative;
	width: 1300px;
	background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
	/*background:#fff8f7;*/
	margin: 0 auto;
	padding-left: 10px;
	height: calc(100% + 200px);
}
.menuItem_ul {
	display: inline-block;
    width: 100%;;
}

li.menuItem {
	position: relative;
	margin: 20px 10px 20px 10px;
	border: 1px solid black;
	float: left;
	text-align: center;
}
li.menuItem img {	
	width: 300px;
    height: 300px;
    background-color: white;
}
/*카트*/
.container {
	position: relative;
}
.container input {
	border: none;
	outline: none;
	margin-right: -20%;
}
.cart-box {
	height: 30%;
	border: 1px solid #bdbdbd;
	bottom: 0;
    width: 100%;
    position: fixed;
    background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
}
.cart-box p {
    line-height: 26px;
    margin-left: 20px;	
}
.menulist {
	height: 70%;
	border: 1px solid #bdbdbd;
	margin: 0 20px;
	background-color:white;
	padding: 5px;
}
.menulist_line {
	width: 90%;
	line-height: 30px;
	border-bottom: 1px solid black;
}
table {
	border-collapse: collapse;
    width: 100%;
}
.list_btn {
	width: 20px;
}
.payment {
	display: flex;
    margin: 0 50px;
}
.cartlist_line td{
	width: 30%;
}
.cartlist_line td:nth-of-type(4){
	float: right;
}
.listDeletbtn {
	width:20px; 
}
.payment-bottom {
	display: flex;
    width: 100%;
}
.purchase {
	width: 150px;
	background-color: #beb6d1;
    border: 0.5px solid #9ea6b5;
    margin-right: 5px;
}
.payment-btn {
    margin: 3px 0;
    width: 100%;
    justify-content: end;
}
/*모달창css*/
#modal1 input {
	border:none;
	outline: none;
	width: 30%;
}
hr {
	border: 2px solid #ff949d;
}
.cart-list p {	
	text-align: center;
    font-size: 20px;
    color: #bf2254;
    margin: 8px;
}
.testmodal {
	text-align: center;
}
.testmodal th {
	background-color: #f7deff;
}
.testmodal tr{
	border: 0.5px solid #d1b6b0;
	line-height: 33px;
	text-align: center;
}
td {
	text-align: center;
}
.total-list {
	display: flex;
	background-color: #f7deff;
	margin: 10px 0;
	padding: 0 10px;
    height: 33px;
    line-height: 33px;
}
.total-list div {
	width: 100%;
}
.Paying {
	height: 40px;
	background-color: #c9b7bd;
	border-radius: 10px;
}